@import '../pages/styles.scss';


.header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
padding-left: 5em;
    height: 8em;
    margin-bottom: 1em;
    background-color:white;
color:$layout-color;
}

    .header{

    .logo{
          h1{
        margin-top: 1em;
        color: $primary-color;
    }

    p{
        font-size: 1em;
        color: $primary-color;

    }
    }


    .activity{
        display: flex;
        justify-content: space-between;
        margin: 2em;  
       max-width: 20em;
       height: 3em; 
       border-radius: 6px;
           padding: 10px;
           font-size: larger;
           background-color: $primary-color;
           img{
        width: 1.5em;
        height: 1.5em;
    }

    .cart{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            padding-left: 10px;
            color: white;

        }
    }
    .user{
        display: flex;
        align-items: center; 
        margin-right: 2em;
        position: relative;

        a{
            padding-left: 10px;
            color: white;
        }

        .dropdown_content {
            display: none;
            position: absolute;
            background-color: white;
            color: $primary-color;
            min-width: 13em;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 0.2em 0.2em;
            z-index: 1;
            top: 2em;
font-size: large;
font-weight:600;
            ul{
                padding: 0;
                list-style: none;
                li{
                    margin-top: 0.6em;
            margin-left: 0.5em;
                }
                a{
                    color: $primary-color !important;
                    background-color: white;
                }
            }
          }
               
    }
    .user:hover .dropdown_content {
        display: block;
      }


    
    }
    
 
}


  
 