@import '../pages/styles.scss';
$breakpoint-tablet: 800px;


.main{
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.2em;
    background-attachment: fixed;


.intro{
    background: url('/bg-blue.jpg');
    background-repeat: no-repeat;
    background-size: 120% 100%;
text-align: center;
justify-content: center;
padding-left: 10rem;
padding-top: 10rem;
width: 100%;
height: 88vh;
overflow: hidden;
h2{
font-size: 2em;
}

div{

background-color: rgba(0, 0, 0, 0.1);
width: 100%;
min-height: 20em;
color:$primary-color ; 
padding: 1em;

h1{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
p{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

button{
    border-radius: 0;
    border: none;
    height: 4rem;
    margin-left: 0;
    margin-top: 2rem;
    background-color: rgb(133, 235, 230);
}

button:hover{
    background-color: rgb(0, 162, 255) !important;
    color: white;
}
}

}

.middle_cards{
min-height: 20rem;
font-size: x-large;

input{
    height: 4rem;
    margin-right: 0;
    width: 60%;
    background-color: transparent;
    border: 1px solid white;
    color: white !important;
    padding-left: 1rem;
    font-size: x-large;
}
input::placeholder{
    color:white;
}
button{
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0;
    height: 4rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-top: 0 !important;
}
i{
    font-size: 4rem;
}
}

.third{
    font-size: larger;
    
}

}


//Intro media query
@media only screen and (max-width: $breakpoint-tablet) {
 
.main{
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.2em;
    background-attachment: fixed;


.intro{
    background: url('/bg-blue.jpg');
    background-repeat: no-repeat;
    background-size: 120% 100%;
text-align: center;
justify-content: center;
margin: auto;
padding-left: 0.2rem;
padding-top: 0.2rem;
width: 100%;
height: 40vh;
overflow: hidden;
h2{
font-size: 2em;
}

div{

background-color: rgba(0, 0, 0, 0.1);
width: 100%;
min-height: 20em;
color:$primary-color ; 
padding: 1em;

h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.4rem !important;
}
p{
    font-size: 1rem;
    margin-bottom: 0.3rem;
    line-height: 1.2rem;
}

button{
    border-radius: 0;
    border: none;
    font-size: small;
    height: fit-content;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-left: 0;
    margin-top: 0.2rem;
    background-color: rgb(133, 235, 230);
}

button:hover{
    background-color: rgb(0, 162, 255) !important;
    color: white;
}
}

}

.middle_cards{
min-height: 20rem;
font-size: large;
padding: 0.2rem;
div{
    padding: 0.5rem !important;
}

input{
    height: 2rem;
    margin-right: 0;
    width: 60%;
    background-color: transparent;
    border: 1px solid white;
    color: white !important;
    padding-left: 1rem;
    font-size: x-large;
    border-radius: 0;
}
input::placeholder{
    color:white;
}
button{
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0;
    height: 2rem;
    padding: 0.2rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-top: 0 !important;
}
h1{
    font-size: x-large;
}
i{
    font-size: 2rem;
}
}

.third{
    font-size: larger;
    
}

}


}







