@import '../pages/styles.scss';

.product{
     width: 22%;
     border-radius: 0.6em;
     box-shadow: 0.05em  0.05em  0.05em  0.05em gray;
margin: 1em;
.card{
    padding-top:1em;
     margin: auto;
     text-align: center;
     height: 15em;

.title{
    font-size: large;
}
 img{
        width: 30%;
    } 

    button{
        height: 2em;
        font-size: medium;
        padding:0;
        margin:0;
    }
    button:hover{
        height: 2.1em;
        width: 8em;
        font-size: medium;
        padding:0;
        margin:0;
    }
}

    a:hover{
        color: $primary-color;
    }
}