@import '../pages/styles.scss';

.product{
     width: 22%;
     border-radius: 0.6em;
margin: 0.5em;
.card{
    padding-top:1em;
     margin: auto;
     text-align: center;
     height: 15em;
     color: crimson;
.image{
    text-align: center;
    margin: auto;
}
.title{
    font-size: large;
}
 img{
        width: 30%;
    } 

   
}

    a:hover{
        color: $primary-color;
    }


}

@media screen and (max-width: 860px){

    .product{
        width: 95%;
    }
}