.standing_prescription{
    width: 100%;
    height: 100%;
    list-style-type: none !important;
margin: 0em;
padding-left: 0.5em;

        li{

display: grid;
grid-template-columns: auto auto;
justify-content: space-between;

           .prescription_date{
margin-right: 0.5em;              

            }
            .prescription{
                margin-right: 0em;              

            }
  
        }
           
    }

