* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: 'Rubik', serif;
  margin: 0;
  padding: 0;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.1em; }

p {
  font-size: larger; }

.pagelink___35WRW {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___35WRW:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  background-color: blue !important; }

@media only screen and (max-width: 800px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  div {
    margin: 0;
    padding: 0; } }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: 'Rubik', serif;
  margin: 0;
  padding: 0;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.1em; }

p {
  font-size: larger; }

.pagelink___MtiHc {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___MtiHc:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  background-color: blue !important; }

@media only screen and (max-width: 800px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  div {
    margin: 0;
    padding: 0; } }

.header___207u5 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-left: 5em;
  height: 8em;
  margin-bottom: 1em;
  background-color: white;
  background-image: linear-gradient(to right, #048604, #82c082);
  color: #fff; }

.header___207u5 .logo___3Dv9V img {
  margin-top: 1.5em;
  border-radius: 0.3em;
  height: 4em;
  width: 4em;
  background-color: aliceblue; }

.header___207u5 .logo___3Dv9V a:hover {
  height: inherit;
  width: inherit;
  background-color: inherit;
  margin: inherit;
  padding: inherit; }

.header___207u5 .activity___2Xw8Y {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  max-width: 20em;
  height: 3em;
  border-radius: 6px;
  padding: 10px;
  font-size: larger;
  background-color: #12A63E; }
  .header___207u5 .activity___2Xw8Y img {
    width: 1.5em;
    height: 1.5em; }
  .header___207u5 .activity___2Xw8Y .cart___1sbiW {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header___207u5 .activity___2Xw8Y .cart___1sbiW a {
      padding-left: 10px;
      color: white; }
  .header___207u5 .activity___2Xw8Y .user___rnymh {
    display: flex;
    align-items: center;
    margin-right: 2em;
    position: relative; }
    .header___207u5 .activity___2Xw8Y .user___rnymh a {
      padding-left: 10px;
      color: white; }
    .header___207u5 .activity___2Xw8Y .user___rnymh .dropdown_content___SGcYG {
      display: none;
      position: absolute;
      background-color: white;
      color: #12A63E;
      min-width: 13em;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 0.2em 0.2em;
      z-index: 1;
      top: 2em;
      font-size: large;
      font-weight: 600; }
      .header___207u5 .activity___2Xw8Y .user___rnymh .dropdown_content___SGcYG ul {
        padding: 0;
        list-style: none; }
        .header___207u5 .activity___2Xw8Y .user___rnymh .dropdown_content___SGcYG ul li {
          margin-top: 0.6em;
          margin-left: 0.5em; }
        .header___207u5 .activity___2Xw8Y .user___rnymh .dropdown_content___SGcYG ul a {
          color: #12A63E !important;
          background-color: white; }
  .header___207u5 .activity___2Xw8Y .user___rnymh:hover .dropdown_content___SGcYG {
    display: block; }

.header___207u5 .admin_link___3kCBp {
  color: white;
  font-size: large;
  padding-top: 0.3em; }

.header___207u5 .admin_link___3kCBp:hover {
  padding: 0.3em; }

@media only screen and (max-width: 800px) {
  .header___207u5 {
    height: 3em;
    width: 100%;
    padding: 0.3em;
    margin: 0;
    box-sizing: border-boxyy;
    display: none; }
    .header___207u5 .logo___3Dv9V {
      display: none; }
    .header___207u5 .activity___2Xw8Y {
      display: none; }
  .mobile___1rYFG {
    display: none;
    width: 100%;
    justify-content: space-between; }
    .mobile___1rYFG .activity___2Xw8Y {
      display: none;
      justify-content: space-between;
      margin: 2em;
      height: 3em;
      border-radius: 6px;
      padding: 10px;
      font-size: larger;
      background-color: #12A63E; }
      .mobile___1rYFG .activity___2Xw8Y .cart___1sbiW {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content; }
        .mobile___1rYFG .activity___2Xw8Y .cart___1sbiW a {
          padding-left: 10px;
          color: white; }
      .mobile___1rYFG .activity___2Xw8Y .user___rnymh {
        display: flex;
        align-items: center;
        margin-right: 2em;
        position: relative;
        width: fit-content; }
        .mobile___1rYFG .activity___2Xw8Y .user___rnymh a {
          padding-left: 10px;
          color: white; } }

@media only screen and (min-width: 800px) {
  .mobile___1rYFG {
    display: none; } }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: 'Rubik', serif;
  margin: 0;
  padding: 0;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.1em; }

p {
  font-size: larger; }

.pagelink___3KTKa {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___3KTKa:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  background-color: blue !important; }

@media only screen and (max-width: 800px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  div {
    margin: 0;
    padding: 0; } }

.search___3MHpT {
  margin: 2.8em;
  outline: none; }
  .search___3MHpT form {
    display: flex;
    color: #fff; }
    .search___3MHpT form input {
      margin: 0;
      height: 2.9em;
      width: 17em;
      font-size: 1em;
      border: 2px solid #12A63E;
      border-right: 0px;
      border-radius: 10px 0px 0px 10px;
      padding-left: 0.5em; }
    .search___3MHpT form input:focus {
      border: none;
      background-color: whitesmoke; }
    .search___3MHpT form button {
      margin: 0;
      height: 2.9em;
      width: 3em;
      border-radius: 0px 10px 10px 0px;
      border-left: 0px;
      background-color: white;
      color: #12A63E;
      padding: 6px 10px;
      font-size: 1em; }
    .search___3MHpT form button:hover {
      background-color: white !important; }

@media only screen and (max-width: 800px) {
  .search___3MHpT {
    display: none; } }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: 'Rubik', serif;
  margin: 0;
  padding: 0;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.1em; }

p {
  font-size: larger; }

.pagelink____jdru {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink____jdru:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  background-color: blue !important; }

@media only screen and (max-width: 800px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  div {
    margin: 0;
    padding: 0; } }

.nav_container___AArvw .icon_button___1Dx2y {
  display: none; }

.nav_container___AArvw .nav___1kSwy {
  box-sizing: border-box;
  color: #12A63E;
  height: 60px;
  width: 100%;
  display: block;
  padding-right: 2em;
  padding-left: 2em; }
  .nav_container___AArvw .nav___1kSwy a {
    color: #12A63E;
    border-radius: 4px; }
  .nav_container___AArvw .nav___1kSwy a:visited {
    color: #12A63E; }
  .nav_container___AArvw .nav___1kSwy a:hover {
    color: white;
    background-color: #12A63E;
    transition: 0.6s; }
  .nav_container___AArvw .nav___1kSwy .active___amG3s {
    border-bottom: 0.3em solid #12A63E; }

.nav_container___AArvw .nav___1kSwy a {
  color: inherit; }

.nav_container___AArvw .nav___1kSwy a:visited {
  color: inherit; }

.nav_container___AArvw .nav___1kSwy div {
  float: left;
  margin-left: 1em;
  margin-top: 0.3em;
  font-size: 1.7em;
  font-weight: bolder; }
  .nav_container___AArvw .nav___1kSwy div a {
    text-decoration: none;
    color: white; }
  .nav_container___AArvw .nav___1kSwy div div:hover {
    color: white;
    background-color: #12A63E; }

.nav_container___AArvw .nav___1kSwy ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
  float: right; }
  .nav_container___AArvw .nav___1kSwy ul li {
    width: fit-content;
    border-radius: 4px; }
    .nav_container___AArvw .nav___1kSwy ul li a {
      display: inline-block;
      margin: 0em 0.1em 0em 0.1em;
      padding: 0.4em 0.4em 0.4em 0.4em;
      text-decoration: none;
      color: white;
      font-size: 1.5em !important; }
    .nav_container___AArvw .nav___1kSwy ul li a:hover {
      color: white;
      background-color: #12A63E;
      font-size: 1.5em !important; }
  .nav_container___AArvw .nav___1kSwy ul .dropbtn___yJU84 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .nav_container___AArvw .nav___1kSwy ul .dropdown___2r2lA:hover .dropbtn___yJU84 {
    background-color: red; }
  .nav_container___AArvw .nav___1kSwy ul li.dropdown___2r2lA {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: fit-content;
    margin-top: 0.3em; }
  .nav_container___AArvw .nav___1kSwy ul .dropdown_content___1VBhe {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .nav_container___AArvw .nav___1kSwy ul .dropdown_content___1VBhe a {
    margin: 0;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.5em;
    text-align: left; }
  .nav_container___AArvw .nav___1kSwy ul .dropdown_content___1VBhe a:hover {
    background-color: #f1f1f1; }
  .nav_container___AArvw .nav___1kSwy ul .dropdown___2r2lA:hover .dropdown_content___1VBhe {
    display: block; }

@media only screen and (max-width: 800px) {
  .nav_container___AArvw .mobile___2C8OZ {
    background-color: #12A63E;
    box-sizing: border-box;
    width: 100%;
    height: 1.8em;
    margin: 0 !important;
    padding: 0.2em;
    display: flex;
    justify-content: space-between;
    padding-left: 0.5em; }
    .nav_container___AArvw .mobile___2C8OZ .mobile_cart___2SuDE {
      width: 2em;
      display: none;
      height: 0.8em;
      margin-top: 0;
      box-sizing: border-box;
      padding-top: 0.2em !important;
      color: white; }
      .nav_container___AArvw .mobile___2C8OZ .mobile_cart___2SuDE #mobile_cart_img___3_tRF {
        height: 100% !important;
        margin: 0 !important; }
      .nav_container___AArvw .mobile___2C8OZ .mobile_cart___2SuDE Link {
        height: 0.8em !important;
        margin: 0 !important;
        padding: 0 !important; }
      .nav_container___AArvw .mobile___2C8OZ .mobile_cart___2SuDE span {
        font-size: 0.3em !important;
        font-weight: 300;
        margin-left: 0.2em; }
      .nav_container___AArvw .mobile___2C8OZ .mobile_cart___2SuDE img {
        width: 0.65em !important;
        height: 0.5em; }
    .nav_container___AArvw .mobile___2C8OZ img {
      width: 1.5em;
      height: 1.4em; }
    .nav_container___AArvw .mobile___2C8OZ .icon_button___1Dx2y {
      width: 1.3em;
      height: 1.6em;
      margin-right: 1em;
      float: right;
      border: none;
      font-size: x-large;
      font-weight: bold;
      background-color: transparent;
      display: block;
      color: white; }
  .nav_container___AArvw .nav___1kSwy {
    margin: 0;
    padding: 0;
    height: fit-content;
    position: fixed;
    top: 0em;
    right: 0.02em;
    z-index: 9; }
    .nav_container___AArvw .nav___1kSwy .togle_nav___3Kd6k {
      display: block;
      cursor: pointer; }
    .nav_container___AArvw .nav___1kSwy .remove_nav___3Xela {
      display: none; }
    .nav_container___AArvw .nav___1kSwy ul {
      width: 100%;
      text-decoration: none;
      list-style: none;
      display: none;
      background-color: #12A63E;
      color: #f1f1f1;
      margin: 0;
      padding-left: 2.2em;
      transition: 0.3s; }
      .nav_container___AArvw .nav___1kSwy ul li {
        width: fit-content;
        border-radius: 4px;
        display: block;
        margin: auto;
        padding: 0;
        text-align: center; }
        .nav_container___AArvw .nav___1kSwy ul li a {
          display: block;
          margin: 0.2em 1.7em 0em 0em;
          text-decoration: none;
          color: white;
          font-size: 1.5em !important;
          padding: 0; }
        .nav_container___AArvw .nav___1kSwy ul li a:hover {
          color: white;
          background-color: #12A63E;
          font-size: 1.5em !important; }
      .nav_container___AArvw .nav___1kSwy ul .dropbtn___yJU84 {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; }
      .nav_container___AArvw .nav___1kSwy ul .dropdown___2r2lA:hover .dropbtn___yJU84 {
        background-color: red; }
      .nav_container___AArvw .nav___1kSwy ul li.dropdown___2r2lA {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: fit-content;
        margin-top: 0.3em; }
      .nav_container___AArvw .nav___1kSwy ul .dropdown_content___1VBhe {
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: fit-content;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1; }
      .nav_container___AArvw .nav___1kSwy ul .dropdown_content___1VBhe a {
        margin: 0;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 0.5em;
        text-align: left; }
      .nav_container___AArvw .nav___1kSwy ul .dropdown_content___1VBhe a:hover {
        background-color: #f1f1f1; }
      .nav_container___AArvw .nav___1kSwy ul .dropdown___2r2lA:hover .dropdown_content___1VBhe {
        display: block; } }

@media only screen and (min-width: 800px) {
  .mobile___2C8OZ {
    display: none; } }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: 'Rubik', serif;
  margin: 0;
  padding: 0;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.1em; }

p {
  font-size: larger; }

.pagelink___3YSse {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___3YSse:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  background-color: blue !important; }

@media only screen and (max-width: 800px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  div {
    margin: 0;
    padding: 0; } }

.footer___1nBGW {
  box-sizing: border-box;
  min-height: 10em;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 1em;
  padding-left: 6em;
  color: #044d22;
  background-color: white;
  border-top: 0.2rem solid #12A63E; }
  .footer___1nBGW div {
    margin: 1em;
    padding: 1em 0em 1em 0em;
    background-color: transparent; }
    .footer___1nBGW div a {
      color: #12A63E;
      font-size: larger;
      padding: 0.5rem; }
    .footer___1nBGW div a:hover {
      color: white !important; }
  .footer___1nBGW .stayintouch___l2Yrq i {
    width: 2em;
    height: 2em;
    font-size: 1.3em; }

@media only screen and (max-width: 800px) {
  .footer___1nBGW {
    box-sizing: border-box;
    height: 37em;
    padding-left: 0.5em;
    color: #12A63E !important;
    display: block; }
    .footer___1nBGW div {
      margin: 1em;
      padding: 1em;
      background-color: transparent;
      width: 90%; }
      .footer___1nBGW div a {
        color: #12A63E;
        margin-top: 4em;
        font-size: larger; }
    .footer___1nBGW .stayintouch___l2Yrq i {
      width: 2em;
      height: 2em;
      font-size: 1.3em; } }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: 'Rubik', serif;
  margin: 0;
  padding: 0;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.1em; }

p {
  font-size: larger; }

.pagelink___1xFXa {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___1xFXa:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  background-color: blue !important; }

@media only screen and (max-width: 800px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  div {
    margin: 0;
    padding: 0; } }

/* Button used to open the chat form - fixed at the bottom of the page */
.openbutton___1JJgq {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 300px;
  right: -85px;
  width: 200px;
  transform: rotate(-90deg); }

.closebutton___2pbXy {
  display: none; }

/* The popup chat - hidden by default */
.chatclosed___2VVtF {
  display: none; }

.chatopen___yNv89 {
  display: block;
  position: fixed;
  bottom: 0;
  right: 1px;
  z-index: 9;
  background-color: white;
  border: none;
  border-radius: 1em;
  transition: 5s; }

/* Add styles to the form container */
.formcontainer___244JH {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  z-index: 9;
  border-radius: 1em;
  /* Full-width textarea */
  /* When the textarea gets focus, do something */
  /* Set a style for the submit/send button */
  /* Add a red background color to the cancel button */
  /* Add some hover effects to buttons */ }
  .formcontainer___244JH fieldset {
    border: none; }
  .formcontainer___244JH label {
    margin: 0;
    padding: 0; }
  .formcontainer___244JH .heading___3qTZh {
    background-color: #0084ff;
    margin: 0;
    padding: 0.6em;
    color: white;
    border-radius: 0.4em;
    height: 3em;
    font-size: large; }
  .formcontainer___244JH textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 0.2em;
    border: none;
    background: #f1f1f1ed;
    resize: none;
    min-height: 10em; }
  .formcontainer___244JH input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 0.2em;
    border: none;
    resize: none;
    height: 1.5em;
    background: #f1f1f1ed; }
  .formcontainer___244JH textarea:focus {
    background-color: #ddd;
    outline: none; }
  .formcontainer___244JH .submit_btn___1VuyI {
    background-color: #12A63E;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0.5em !important;
    margin-left: 0; }
  .formcontainer___244JH .cancel___20Iow {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0; }
  .formcontainer___244JH .btn___31ijb:hover, .formcontainer___244JH .openbutton___1JJgq:hover {
    opacity: 1; }

@media only screen and (max-width: 800px) {
  input {
    width: 100%;
    padding: 5px;
    margin: 2px 0 5px 0;
    border-radius: 0.2em;
    border: none;
    resize: none;
    height: 1.5em;
    background: #f1f1f1ed; }
  textarea {
    width: 100%;
    margin: 5px 0 22px 0;
    border-radius: 0.2em;
    border: none;
    background: #f1f1f1ed;
    resize: none;
    min-height: 6em !important; }
  .openbutton___1JJgq {
    bottom: 300px;
    right: -85px; } }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: 'Rubik', serif;
  margin: 0;
  padding: 0;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.1em; }

p {
  font-size: larger; }

.pagelink___3eZvl {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___3eZvl:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  background-color: blue !important; }

@media only screen and (max-width: 800px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  div {
    margin: 0;
    padding: 0; } }

.product___1d0UC {
  width: 22%;
  border-radius: 0.6em;
  margin: 0.5em; }
  .product___1d0UC .card___22W0I {
    padding-top: 1em;
    margin: auto;
    text-align: center;
    height: 15em;
    color: crimson; }
    .product___1d0UC .card___22W0I .image___2HFbq {
      text-align: center;
      margin: auto; }
    .product___1d0UC .card___22W0I .title___17Zi2 {
      font-size: large; }
    .product___1d0UC .card___22W0I img {
      width: 30%; }
  .product___1d0UC a:hover {
    color: #12A63E; }

@media screen and (max-width: 860px) {
  .product___1d0UC {
    width: 95%; } }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: 'Rubik', serif;
  margin: 0;
  padding: 0;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.1em; }

p {
  font-size: larger; }

.pagelink___2-f9Q {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___2-f9Q:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  background-color: blue !important; }

@media only screen and (max-width: 800px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  div {
    margin: 0;
    padding: 0; } }

.loader___303lL {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #12A63E;
  border-radius: 50%;
  border-bottom: 16px solid #12A63E;
  margin: auto;
  text-align: center;
  width: 20px !important;
  height: 20px !important;
  -webkit-animation: spin___aGIZ0 2s linear infinite;
  animation: spin___aGIZ0 2s linear infinite; }

@-webkit-keyframes spin___aGIZ0 {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin___aGIZ0 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.productlist___3549g {
  width: 97%; }

.products___Cd1n8 {
  margin: 2em;
  min-height: 30em; }
  .products___Cd1n8 h2 {
    background-color: rgba(160, 157, 157, 0.267);
    height: 2em;
    padding: 0.4em 0.4em 0.4em 2em;
    font-size: 1.5em;
    color: #7a471d; }
  .products___Cd1n8 .featured_products___di6HZ {
    height: 2em;
    padding: 0.4em 0.4em 0.4em 2em;
    font-size: 2.2em;
    color: #7a1d2c;
    text-align: center;
    margin: auto; }

@media screen and (max-width: 860px) {
  .products___Cd1n8 {
    margin-top: 4rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem; }
  .featured_products___di6HZ {
    font-size: 1.5rem  !important; } }

.products_loading___wODWo {
  background-color: black;
  height: 100vh;
  width: 100vh; }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: 'Rubik', serif;
  margin: 0;
  padding: 0;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.1em; }

p {
  font-size: larger; }

.pagelink___3_nJX {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___3_nJX:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  background-color: blue !important; }

@media only screen and (max-width: 800px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  div {
    margin: 0;
    padding: 0; } }

.main___2CXzs {
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.2em;
  background-attachment: fixed; }
  .main___2CXzs .intro___1q6R9 {
    background: url("/bg-blue.jpg");
    background-repeat: no-repeat;
    background-size: 120% 100%;
    text-align: center;
    justify-content: center;
    padding-left: 10rem;
    padding-top: 10rem;
    width: 100%;
    height: 88vh;
    overflow: hidden; }
    .main___2CXzs .intro___1q6R9 h2 {
      font-size: 2em; }
    .main___2CXzs .intro___1q6R9 div {
      background-color: rgba(0, 0, 0, 0.1);
      width: 100%;
      min-height: 20em;
      color: #12A63E;
      padding: 1em; }
      .main___2CXzs .intro___1q6R9 div h1 {
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 1rem; }
      .main___2CXzs .intro___1q6R9 div p {
        font-size: 1.5rem;
        margin-bottom: 1.5rem; }
      .main___2CXzs .intro___1q6R9 div button {
        border-radius: 0;
        border: none;
        height: 4rem;
        margin-left: 0;
        margin-top: 2rem;
        background-color: #85ebe6; }
      .main___2CXzs .intro___1q6R9 div button:hover {
        background-color: #00a2ff !important;
        color: white; }
  .main___2CXzs .middle_cards___3fiK5 {
    min-height: 20rem;
    font-size: x-large; }
    .main___2CXzs .middle_cards___3fiK5 input {
      height: 4rem;
      margin-right: 0;
      width: 60%;
      background-color: transparent;
      border: 1px solid white;
      color: white !important;
      padding-left: 1rem;
      font-size: x-large; }
    .main___2CXzs .middle_cards___3fiK5 input::placeholder {
      color: white; }
    .main___2CXzs .middle_cards___3fiK5 button {
      width: fit-content;
      padding: 0.5rem;
      border-radius: 0;
      height: 4rem;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      margin-top: 0 !important; }
    .main___2CXzs .middle_cards___3fiK5 i {
      font-size: 4rem; }
  .main___2CXzs .third___xubTV {
    font-size: larger; }

@media only screen and (max-width: 800px) {
  .main___2CXzs {
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.2em;
    background-attachment: fixed; }
    .main___2CXzs .intro___1q6R9 {
      background: url("/bg-blue.jpg");
      background-repeat: no-repeat;
      background-size: 120% 100%;
      text-align: center;
      justify-content: center;
      margin: auto;
      padding-left: 0.2rem;
      padding-top: 0.2rem;
      width: 100%;
      height: 40vh;
      overflow: hidden; }
      .main___2CXzs .intro___1q6R9 h2 {
        font-size: 2em; }
      .main___2CXzs .intro___1q6R9 div {
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;
        min-height: 20em;
        color: #12A63E;
        padding: 1em; }
        .main___2CXzs .intro___1q6R9 div h1 {
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: 0.4rem !important; }
        .main___2CXzs .intro___1q6R9 div p {
          font-size: 1rem;
          margin-bottom: 0.3rem;
          line-height: 1.2rem; }
        .main___2CXzs .intro___1q6R9 div button {
          border-radius: 0;
          border: none;
          font-size: small;
          height: fit-content;
          padding-top: 0.2rem;
          padding-bottom: 0.2rem;
          margin-left: 0;
          margin-top: 0.2rem;
          background-color: #85ebe6; }
        .main___2CXzs .intro___1q6R9 div button:hover {
          background-color: #00a2ff !important;
          color: white; }
    .main___2CXzs .middle_cards___3fiK5 {
      min-height: 20rem;
      font-size: large;
      padding: 0.2rem; }
      .main___2CXzs .middle_cards___3fiK5 div {
        padding: 0.5rem !important; }
      .main___2CXzs .middle_cards___3fiK5 input {
        height: 2rem;
        margin-right: 0;
        width: 60%;
        background-color: transparent;
        border: 1px solid white;
        color: white !important;
        padding-left: 1rem;
        font-size: x-large;
        border-radius: 0; }
      .main___2CXzs .middle_cards___3fiK5 input::placeholder {
        color: white; }
      .main___2CXzs .middle_cards___3fiK5 button {
        width: fit-content;
        padding: 0.5rem;
        border-radius: 0;
        height: 2rem;
        padding: 0.2rem;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        margin-top: 0 !important; }
      .main___2CXzs .middle_cards___3fiK5 h1 {
        font-size: x-large; }
      .main___2CXzs .middle_cards___3fiK5 i {
        font-size: 2rem; }
    .main___2CXzs .third___xubTV {
      font-size: larger; } }


/*# sourceMappingURL=styles.chunk.css.map*/