* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.5em; }

p {
  font-size: larger; }

.pagelink___35WRW {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___35WRW:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  height: 52px;
  width: 210px; }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.5em; }

p {
  font-size: larger; }

.pagelink___MtiHc {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___MtiHc:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  height: 52px;
  width: 210px; }

.header___207u5 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-left: 5em;
  height: 8em;
  margin-bottom: 1em;
  background-color: white;
  background-image: linear-gradient(to right, #048604, #82c082);
  color: #f5f5f5; }

.header___207u5 .logo___3Dv9V img {
  margin-top: 1.5em;
  border-radius: 0.3em;
  height: 4em;
  width: 4em;
  background-color: aliceblue; }

.header___207u5 .logo___3Dv9V a:hover {
  height: inherit;
  width: inherit;
  background-color: inherit;
  margin: inherit;
  padding: inherit; }

.header___207u5 .activity___2Xw8Y {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  max-width: 20em;
  height: 3em;
  border-radius: 6px;
  padding: 10px;
  font-size: larger;
  background-color: #12A63E; }
  .header___207u5 .activity___2Xw8Y img {
    width: 1.5em;
    height: 1.5em; }
  .header___207u5 .activity___2Xw8Y .cart___1sbiW {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header___207u5 .activity___2Xw8Y .cart___1sbiW a {
      padding-left: 10px;
      color: white; }
  .header___207u5 .activity___2Xw8Y .user___rnymh {
    display: flex;
    align-items: center;
    margin-right: 2em;
    position: relative; }
    .header___207u5 .activity___2Xw8Y .user___rnymh a {
      padding-left: 10px;
      color: white; }
    .header___207u5 .activity___2Xw8Y .user___rnymh .dropdown_content___SGcYG {
      display: none;
      position: absolute;
      background-color: white;
      color: #12A63E;
      min-width: 13em;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 0.2em 0.2em;
      z-index: 1;
      top: 2em;
      font-size: large;
      font-weight: 600; }
      .header___207u5 .activity___2Xw8Y .user___rnymh .dropdown_content___SGcYG ul {
        padding: 0;
        list-style: none; }
        .header___207u5 .activity___2Xw8Y .user___rnymh .dropdown_content___SGcYG ul li {
          margin-top: 0.6em;
          margin-left: 0.5em; }
        .header___207u5 .activity___2Xw8Y .user___rnymh .dropdown_content___SGcYG ul a {
          color: #12A63E !important;
          background-color: white; }
  .header___207u5 .activity___2Xw8Y .user___rnymh:hover .dropdown_content___SGcYG {
    display: block; }

.header___207u5 .admin_link___3kCBp {
  color: white;
  font-size: large;
  padding-top: 0.3em; }

.header___207u5 .admin_link___3kCBp:hover {
  padding: 0.3em; }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.5em; }

p {
  font-size: larger; }

.pagelink___3KTKa {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___3KTKa:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  height: 52px;
  width: 210px; }

.search___3MHpT {
  margin: 2.8em;
  outline: none; }
  .search___3MHpT form {
    display: flex;
    color: #f5f5f5; }
    .search___3MHpT form input {
      margin: 0;
      height: 2.9em;
      width: 17em;
      font-size: 1em;
      border: 2px solid #12A63E;
      border-right: 0px;
      border-radius: 10px 0px 0px 10px; }
    .search___3MHpT form input:focus {
      border: none;
      background-color: whitesmoke; }
    .search___3MHpT form button {
      margin: 0;
      height: 2.9em;
      width: 3em;
      border-radius: 0px 10px 10px 0px;
      border-left: 0px;
      background-color: white;
      color: #12A63E;
      padding: 6px 10px;
      font-size: 1em; }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.5em; }

p {
  font-size: larger; }

.pagelink____jdru {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink____jdru:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  height: 52px;
  width: 210px; }

.nav___1kSwy {
  box-sizing: border-box;
  color: #12A63E;
  height: 50px;
  width: 100%;
  display: block;
  padding-right: 2em;
  padding-left: 2em; }
  .nav___1kSwy a {
    color: #12A63E;
    border-radius: 4px; }
  .nav___1kSwy a:visited {
    color: #12A63E; }
  .nav___1kSwy a:hover {
    color: white;
    background-color: #12A63E; }
  .nav___1kSwy .active___amG3s {
    border-bottom: 0.3em solid #12A63E; }

.nav___1kSwy a {
  color: inherit; }

.nav___1kSwy a:visited {
  color: inherit; }

.nav___1kSwy div {
  float: left;
  margin-left: 1em;
  margin-top: 0.3em;
  font-size: 1.7em;
  font-weight: bolder; }
  .nav___1kSwy div a {
    text-decoration: none;
    color: white; }
  .nav___1kSwy div div:hover {
    color: white;
    background-color: #12A63E; }

.nav___1kSwy ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
  float: right; }
  .nav___1kSwy ul li {
    width: fit-content;
    border-radius: 4px; }
    .nav___1kSwy ul li a {
      display: inline-block;
      margin: 0em 0.1em 0em 0.1em;
      padding: 0.4em 0.4em 0.4em 0.4em;
      text-decoration: none;
      color: white;
      font-size: 1.5em !important; }
    .nav___1kSwy ul li a:hover {
      color: white;
      background-color: #12A63E;
      font-size: 1.5em !important; }
  .nav___1kSwy ul .dropbtn___yJU84 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .nav___1kSwy ul .dropdown___2r2lA:hover .dropbtn___yJU84 {
    background-color: red; }
  .nav___1kSwy ul li.dropdown___2r2lA {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: fit-content;
    margin-top: 0.3em; }
  .nav___1kSwy ul .dropdown_content___1VBhe {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .nav___1kSwy ul .dropdown_content___1VBhe a {
    margin: 0;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.5em;
    text-align: left; }
  .nav___1kSwy ul .dropdown_content___1VBhe a:hover {
    background-color: #f1f1f1; }
  .nav___1kSwy ul .dropdown___2r2lA:hover .dropdown_content___1VBhe {
    display: block; }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.5em; }

p {
  font-size: larger; }

.pagelink___3YSse {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___3YSse:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  height: 52px;
  width: 210px; }

.footer___1nBGW {
  box-sizing: border-box;
  min-height: 10em;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 2em;
  padding-left: 6em;
  color: white;
  background-color: #12A63E; }
  .footer___1nBGW div {
    margin: 1em;
    padding: 1em;
    background-color: transparent; }
    .footer___1nBGW div a {
      color: white;
      margin-top: 4em;
      font-size: larger; }
  .footer___1nBGW .stayintouch___l2Yrq i {
    width: 2em;
    height: 2em;
    font-size: 1.3em; }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.5em; }

p {
  font-size: larger; }

.pagelink___1xFXa {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___1xFXa:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  height: 52px;
  width: 210px; }

/* Button used to open the chat form - fixed at the bottom of the page */
.openbutton___1JJgq {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 300px;
  right: -85px;
  width: 200px;
  transform: rotate(-90deg); }

.closebutton___2pbXy {
  display: none; }

/* The popup chat - hidden by default */
.chatclosed___2VVtF {
  display: none; }

.chatopen___yNv89 {
  display: block;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
  background-color: white;
  border: none;
  border-radius: 1em; }

/* Add styles to the form container */
.formcontainer___244JH {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  z-index: 9;
  border-radius: 1em;
  /* Full-width textarea */
  /* When the textarea gets focus, do something */
  /* Set a style for the submit/send button */
  /* Add a red background color to the cancel button */
  /* Add some hover effects to buttons */ }
  .formcontainer___244JH fieldset {
    border: none; }
  .formcontainer___244JH .heading___3qTZh {
    background-color: #0084ff;
    margin: 0;
    padding: 0.6em;
    color: white;
    border-radius: 0.4em;
    height: 3em;
    font-size: large; }
  .formcontainer___244JH textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 0.2em;
    border: none;
    background: #f1f1f1ed;
    resize: none;
    min-height: 10em; }
  .formcontainer___244JH input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 0.2em;
    border: none;
    resize: none;
    height: 1.5em;
    background: #f1f1f1ed; }
  .formcontainer___244JH textarea:focus {
    background-color: #ddd;
    outline: none; }
  .formcontainer___244JH .btn___31ijb {
    background-color: #12A63E;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0; }
  .formcontainer___244JH .cancel___20Iow {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0; }
  .formcontainer___244JH .btn___31ijb:hover, .formcontainer___244JH .openbutton___1JJgq:hover {
    opacity: 1; }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.5em; }

p {
  font-size: larger; }

.pagelink___23IcN {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___23IcN:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  height: 52px;
  width: 210px; }

.profile___2baMk {
  margin: 2em;
  min-height: 30em;
  margin-left: 35%;
  margin-right: 35%; }
  .profile___2baMk h2 {
    background-color: red;
    color: white;
    text-align: center;
    margin-bottom: 2em;
    font-weight: bolder;
    font-size: 2em;
    padding: 0.3em;
    height: 2em;
    border-radius: 0.2em;
    border: solid red 1px; }
  .profile___2baMk table {
    width: 100%;
    font-size: larger; }
    .profile___2baMk table td {
      width: 10em; }
  .profile___2baMk .buttons___35h7a {
    display: flex;
    flex-direction: row; }

.container___3mFX3 {
  width: 100%; }
  .container___3mFX3 .heading___V7y3g {
    margin: auto;
    text-align: center;
    width: 100%; }
  .container___3mFX3 .account___3xtWf {
    min-height: 20em;
    display: flex;
    flex-direction: row;
    margin: 3em; }
    .container___3mFX3 .account___3xtWf .myaccount___14c-i {
      width: 25%;
      min-height: 20em;
      background-color: white;
      margin: 2em;
      border-radius: 0.5em; }
      .container___3mFX3 .account___3xtWf .myaccount___14c-i h2 {
        margin: 0em 0em 1em 0em;
        padding: 0.3em 0.3em 0.3em 1.2em;
        background-color: rgba(160, 157, 157, 0.267);
        color: rgba(0, 0, 0, 0.746); }
      .container___3mFX3 .account___3xtWf .myaccount___14c-i ul {
        list-style-type: none; }
        .container___3mFX3 .account___3xtWf .myaccount___14c-i ul li {
          margin-top: 1.5em; }
      .container___3mFX3 .account___3xtWf .myaccount___14c-i .logout_link___1z2LU {
        margin: 0em 0em 1em 4em; }
    .container___3mFX3 .account___3xtWf .overview___1u136 {
      width: 70%;
      min-height: 30em;
      background-color: white;
      margin: 2em;
      border-radius: 0.5em; }
      .container___3mFX3 .account___3xtWf .overview___1u136 h2 {
        margin: 0em 0em 1em 0em;
        padding: 0.3em 0.3em 0.3em 1.2em;
        background-color: rgba(160, 157, 157, 0.267);
        color: rgba(0, 0, 0, 0.746); }
      .container___3mFX3 .account___3xtWf .overview___1u136 .overviewdiv___BnCNs {
        width: 100%;
        min-height: 30em;
        display: grid;
        grid-gap: 2em;
        padding: 1em;
        justify-content: space-evenly;
        grid-template-columns: auto auto; }
    .container___3mFX3 .account___3xtWf .form___14s8b {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%; }
    .container___3mFX3 .account___3xtWf form {
      font-size: large;
      margin: 4em; }
      .container___3mFX3 .account___3xtWf form fieldset {
        padding-top: 40px;
        border: medium solid #12A63E;
        border-radius: 15px; }
        .container___3mFX3 .account___3xtWf form fieldset legend {
          border-radius: 5px; }
        .container___3mFX3 .account___3xtWf form fieldset input {
          height: 40px;
          width: 25em;
          margin-bottom: 20px;
          margin-left: 30px;
          border: 2px solid #f5f5f5;
          border-radius: 7px; }
        .container___3mFX3 .account___3xtWf form fieldset label {
          margin-left: 30px; }
        .container___3mFX3 .account___3xtWf form fieldset button {
          height: 40px;
          margin-bottom: 20px;
          margin-left: 30px;
          color: white;
          background-color: #12A63E;
          border: 2px solid #f5f5f5;
          border-radius: 7px; }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.5em; }

p {
  font-size: larger; }

.pagelink___NwE0e {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___NwE0e:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  height: 52px;
  width: 210px; }

.password___33wZe {
  margin: auto;
  text-align: center; }

.message___JFUtd {
  color: red;
  margin-left: 2em;
  margin-bottom: 1em; }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.5em; }

p {
  font-size: larger; }

.pagelink___2-f9Q {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___2-f9Q:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  height: 52px;
  width: 210px; }

.loader___303lL {
  text-align: center;
  margin: auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #12A63E;
  width: 2.8em;
  height: 2.8em;
  -webkit-animation: spin___aGIZ0 1s linear infinite;
  /* Safari */
  animation: spin___aGIZ0 1s linear infinite; }

/* Safari */
@-webkit-keyframes spin___aGIZ0 {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin___aGIZ0 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

* {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em; }

html, body {
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; }

a {
  text-decoration: none;
  color: #12A63E; }

a:visited {
  color: #12A63E; }

a:hover {
  color: white;
  background-color: #12A63E;
  border-radius: 0.3em;
  padding: 0.5em; }

p {
  font-size: larger; }

.pagelink___116ck {
  color: #A61412 !important;
  font-size: 2em; }

.pagelink___116ck:hover {
  background-color: red !important;
  color: white !important;
  font-size: 2em; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

button {
  height: 2em;
  width: 8em;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: x-large;
  color: #12A63E;
  background-color: white;
  border: 2px solid #12A63E;
  border-radius: 7px;
  cursor: pointer; }

button:hover {
  height: 52px;
  width: 210px; }

.standingorder___3hHRV {
  width: 100%;
  height: 100%;
  list-style-type: none !important;
  margin: 0em;
  padding-left: 0.5em; }
  .standingorder___3hHRV .orderdate___3byfj {
    margin-right: 1em; }

.standing_prescription___1aBW1 {
  width: 100%;
  height: 100%;
  list-style-type: none !important;
  margin: 0em;
  padding-left: 0.5em; }
  .standing_prescription___1aBW1 li {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between; }
    .standing_prescription___1aBW1 li .prescription_date___30KHy {
      margin-right: 0.5em; }
    .standing_prescription___1aBW1 li .prescription___2tq0C {
      margin-right: 0em; }

.prescription_history___-_vwO {
  width: 100%;
  height: 100%;
  list-style-type: none !important;
  margin: 0em;
  padding-left: 0.5em; }
  .prescription_history___-_vwO li {
    margin: 0em, 0em, 0em, 2em; }

.order_history___1OuGm {
  width: 100%;
  height: 100%;
  list-style-type: none !important;
  margin: 0em;
  padding-left: 0.5em; }
  .order_history___1OuGm li {
    margin: 0em, 0em, 0em, 2em; }

.admin___21G_C {
  min-height: 25em;
  margin: 2em; }
  .admin___21G_C .admin_header___1qYtx {
    margin: auto;
    text-align: center;
    font-size: xx-large;
    background-color: silver; }
  .admin___21G_C .add_product___2SV17 {
    margin-top: 4em; }
    .admin___21G_C .add_product___2SV17 form {
      display: none;
      margin-bottom: 2em;
      padding-top: 1em;
      background-color: #5ff892; }
      .admin___21G_C .add_product___2SV17 form label {
        margin-left: 1em;
        padding-right: 0.3em; }
    .admin___21G_C .add_product___2SV17 input, .admin___21G_C .add_product___2SV17 select {
      width: fit-content;
      height: 2.3em;
      padding: 0.2em 0.2em;
      margin-right: 1em;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .admin___21G_C .add_product___2SV17 textarea {
      min-height: 6em;
      display: inline-block;
      box-sizing: border-box;
      margin-top: 2.5em;
      padding: 0.2em 0.2em;
      border: 1px solid #ccc;
      border-radius: 4px; }
  .admin___21G_C button {
    width: fit-content;
    height: 2.5em;
    font-size: medium;
    margin-top: 2.5em; }
  .admin___21G_C button:hover {
    width: fit-content;
    height: fit-content;
    font-size: medium; }
  .admin___21G_C .table___1XKFR {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%; }
    .admin___21G_C .table___1XKFR tbody {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%; }
    .admin___21G_C .table___1XKFR td {
      border: 1px solid #dddddd;
      text-align: center;
      font-size: larger; }
    .admin___21G_C .table___1XKFR th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
      text-transform: uppercase;
      background-color: black;
      color: white; }
    .admin___21G_C .table___1XKFR tr:nth-child(even) {
      background-color: #dddddd; }
    .admin___21G_C .table___1XKFR tr {
      height: 3em; }
  .admin___21G_C table {
    counter-reset: rowNumber; }
  .admin___21G_C table tr::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
    text-align: right;
    border-collapse: collapse; }

.checkout___3iiWk {
  height: 30em;
  width: 100%; }


/*# sourceMappingURL=styles.chunk.css.map*/