@import '../../pages/styles';


.footer{
    box-sizing: border-box;
    min-height: 10em;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 2em;
    padding-left: 6em;
    color: white;
    background-color: $primary-color;
 

    div{
margin: 1em;
padding: 1em;
        background-color: transparent;

        a{
            color:white;
            margin-top:4em;
            font-size: larger;
        }
    }
    .stayintouch{
        i{
            width: 2em;
            height: 2em;
            font-size: 1.3em;
        }
    }



}

$breakpoint-tablet: 800px;
@media only screen and (max-width: $breakpoint-tablet) {
    
    .footer{
        box-sizing: border-box;
        height: 35em;
        padding-left: 0.5em;
        color: white;
        background-color: $primary-color;
     display: block;
    
        div{
    margin: 1em;
    padding: 1em;
            background-color: transparent;
            width: 90%;
    
            a{
                color:white;
                margin-top:4em;
                font-size: larger;
            }
        }
        .stayintouch{
            i{
                width: 2em;
                height: 2em;
                font-size: 1.3em;
            }
        }
    
    
    
    }
}