@import "./styles.scss";

.about{
    text-align: center;
    margin: auto;
    padding: $page-padding;
    box-sizing: border-box;

    .heading{
        box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
        background-color: $primary-color;
        opacity: 0.9;
        color:white;
       font-size: 3em;
       height:0;
        width:fit-content;
        border-radius: 2em;
       
    }
   

    h1{
        display: flex;
        justify-content: center;
      color: $primary-color;
      
width: 20%;
border-radius: 2em;
padding: 1em;
    }

    div{
        padding: 1em;
        border: 1px solid $primary-color;
        border-radius: 1.5em;
        background-color: $div-background;
        margin-top: 3em;
    }
}