@import "./styles.scss";

.profile{
    margin: 2em;
    min-height: 30em;
    margin-left: 35%;
    margin-right: 35%;

    h2{
        background-color:red;
        color:white;
        text-align: center;
        margin-bottom: 2em;
        font-weight: bolder;
        font-size: 2em;
        padding:0.3em ;
        height: 2em;
        border-radius: 0.2em;
        border: solid red 1px;
    }

    table{
        width: 100%;
        font-size: larger;
        td{
            width: 10em;
        }
        
    }
    
    .buttons{
        display: flex;
        flex-direction: row;
    }
    
}

.container{
   width: 100%;

.heading{
    margin: auto;
    text-align: center;
    width: 100%;
    }
.account{
    flex-direction: row;
margin: 3em;

.myaccount{
    width: 25%;
    min-height: 20em;
    background-color:white;
    margin: 2em;
    border-radius: 0.5em;
    h2{
        margin: 0em 0em 1em 0em;
        padding: 0.3em 0.3em 0.3em 1.2em;
        background-color: rgba(160, 157, 157, 0.267);
        color: rgba(0, 0, 0, 0.746);
    }

    ul{
        list-style-type: none;

        li{
            margin-top: 1.5em;
        }
        
    }
    .logout_link{
        margin: 0em 0em 1em 4em;
    }
}

.overview{
    width: 70%;
    min-height: 30em;
    background-color:white;
    margin: 2em;
    border-radius: 0.5em;
  

    h2{
        margin: 0em 0em 1em 0em;
        padding: 0.3em 0.3em 0.3em 1.2em;
        background-color: rgba(160, 157, 157, 0.267);
        color: rgba(0, 0, 0, 0.746);
    }


    .overviewdiv{
        width: 100%;
        min-height: 30em;
        display: grid;
        grid-gap: 2em;
        padding: 1em;
        justify-content: space-evenly;
        grid-template-columns: auto auto;


 
    }

  
}



}
}

$breakpoint-tablet: 860px;
@media only screen and (max-width: $breakpoint-tablet) {


    .container{
        width: 100%;
     .heading{
         margin: auto;
         text-align: center;
         width: 100%;
         }
     .account{
         min-height: 20em;
         display: flex;
         flex-direction: row;
         margin: 0;

     .myaccount{
         width: 25%;
         min-height: 20em;
         background-color:white;
         margin: 2em;
         border-radius: 0.5em;
         h2{
             margin: 0em 0em 1em 0em;
             padding: 0.3em 0.3em 0.3em 1.2em;
             background-color: rgba(160, 157, 157, 0.267);
             color: rgba(0, 0, 0, 0.746);
         }
     
         ul{
             list-style-type: none;
     
             li{
                 margin-top: 1.5em;
             }
             
         }
         .logout_link{
             margin: 0em 0em 1em 4em;
         }
     }
     
     .overview{
         width: 70%;
         min-height: 30em;
         background-color:white;
         margin: 2em;
         border-radius: 0.5em;
       
     
         h2{
             margin: 0em 0em 1em 0em;
             padding: 0.3em 0.3em 0.3em 1.2em;
             background-color: rgba(160, 157, 157, 0.267);
             color: rgba(0, 0, 0, 0.746);
         }
     
     
         .overviewdiv{
             width: 100%;
             min-height: 30em;
             display: grid;
             grid-gap: 2em;
             padding: 1em;
             justify-content: space-evenly;
             grid-template-columns: auto auto;
     
     
      
         }
     
       
     }
  
     
     }
     }
     
}
