@import "./styles.scss";

.locations{
    padding: $page-padding;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

width: 100%;
    div{
        padding: 1em;
        border: 1px solid $primary-color;
        border-radius: 1.5em;
        background-color: $div-background;
        margin: 3em;
width: 90%;
min-height: 25em;
        h1{
            display: flex;
            justify-content: center;
          color: $primary-color;
          
    border-radius: 2em;
    padding: 1em;
        }
    }
}