
.products{
    margin: 2em;
    min-height: 30em;


    h2{
        background-color: rgba(160, 157, 157, 0.267);
height: 2em;
padding: 0.4em 0.4em 0.4em 2em;
font-size:1.5em;
color:rgb(122, 71, 29);
    }



    .featured_products{
        height: 2em;
        padding: 0.4em 0.4em 0.4em 2em;
        font-size:2.2em;
        color:rgb(122, 29, 44);
        text-align: center;
        margin: auto;
    }
}

@media screen and (max-width: 860px){
   .products{
       margin-top: 4rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
   }
   .featured_products{
       font-size:1.5rem  !important;
   }
}

.products_loading{
    background-color: black;
    height: 100vh;
    width: 100vh;
}