@import "./styles.scss";

.services{
    text-align: center;
    margin: auto;
    padding: $page-padding;
    box-sizing: border-box;
display: grid;
grid-template-columns: 33% 60%;
width: 100%;
font-size: large;
line-height: 1.5em;
  
   

    h1{
        display: flex;
      color: $primary-color;
     
border-radius: 2em;
padding: 1em;
    }

    div{
        padding: 1em;
        border-radius: 1.5em;
        background-color: $div-background;
        margin: 1.3em;
        text-align: start;


        img{
            width: 70%;
            height: 17em;
            border-radius: 1em;
        }
    }

    .sidebar{
        border: 0.2em solid gray;
        height: 29em;

        ul{
            margin: 0;
            padding:0;
        }

        li{
            margin-top: 0.2em;
            padding: 0.5em;
            font-size: large;
            list-style-type: none;
            background-color: rgb(14, 14, 192);
            color: white;
            border-radius: 0.4em;
        }
        li:hover{
            background-color: red;
            cursor: pointer;
        }
    }
}