$primary-color: #12A63E;
$layout-color: white;
$accent-color:#A61412;
$secondary-color:#C121CC;
$page-padding: 2em;
$div-background: rgba(245, 245, 245, 1) ;

*{
   box-sizing: border-box;
}
html,body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding:0;
  background-color: $layout-color;
 
}
a{
  text-decoration: none;
  color: $primary-color;
}
a:visited {color: $primary-color;} 
a:hover {color: white;
  background-color: $primary-color;
  border-radius:0.2em;
  font-size: larger;
}  

p{
  font-size: larger;
}
.pagelink{
  color: $accent-color !important;
  font-size: 2em;

}
  .pagelink:hover{
    background-color: red !important;
    color: white !important;
    font-size: 2em;

  }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button{
  height: 50px;
  width: 200px;
  margin-bottom: 20px;
  margin-left: 30px;
font-size: x-large;
  color: $primary-color;
  background-color: white;
  border: 2px solid $primary-color;
  border-radius: 7px;
 cursor:pointer;
}
button:hover{
  height: 55px;
  width: 210px;
}